html,body {
    margin:0;
    overflow-x:hidden;
}
p {
    position:relative;
    font-family:Eco, sans;
}
.top {
    animation: fadeIn 1.0s ease forwards;
}
.c {
    font-family:Eco, sans;
    font-size:50pt;
    color:#d40;
}
.x {
    font-family:EcoB, sans;
    font-style:bold;
    font-size:22pt;
    position:absolute;
    border:none;
    background:none;
    color:#d00;
    line-height:35pt;
}
.fade-in {
  animation: fadeIn 2.0s ease forwards;
}
@font-face {
    font-family: Eco; src: url('Economica-Regular.ttf');
}
@font-face {
    font-family: EcoB; src: url('Economica-Bold.ttf');
}
@font-face {
    font-family: EcoI; src: url('Economica-Italic.ttf');
}
@font-face {
    font-family: EcoBI; src: url('Economica-BoldItalic.ttf');
}
@font-face {
    font-family: Cal; src: url('Calli.ttf');
}
@font-face {
    font-family: Ch; src: url('Ch.woff');
}
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}