html,body {
    margin:0;
    overflow:hidden;
}
p {
    position:relative;
    font-family:Eco, sans;
}
.c {
    font-family:Eco, sans;
    font-size:50pt;
    position:absolute;
    border:none;
    border-radius:10px;
}
@font-face {
    font-family: Eco; src: url('Economica-Regular.ttf');
}
@font-face {
    font-family: EcoB; src: url('Economica-Bold.ttf');
}
@font-face {
    font-family: EcoI; src: url('Economica-Italic.ttf');
}
@font-face {
    font-family: EcoBI; src: url('Economica-BoldItalic.ttf');
}
@font-face {
    font-family: Cal; src: url('Calli.ttf');
}
@font-face {
    font-family: Ch; src: url('Ch.woff');
}